# Ignore Nextflow directory 
.nextflow/

# Ignore work directory
work/*

# Ignore NF log files
.nextflow.log*


MiniSta*

mpa_vOct22_CHOCOPhlAnSGB_202212

testdata_PE_results/*
testdata_PE_results/*
testdata_SE_results/*
testdata_mix_results/*
testdata_SE_results/*

data/PRJNA639592_GAPPS_WIHSC/

PRJNA639592_GAPPS_WIHSC_results/

data/PRJNA838641_KENYA/

PRJNA838641_KENYA_results/

data/PRJNA826539_FIJI/

PRJNA826539_FIJI_2_results/

data/PRJEB34085_ISRAEL/
data/
PRJNA701480_NZ_results/
PRJEB34085_ISRAEL_results/

PRJEB37731_MiMens_SE/
PRJEB37731_MiMens_SE_results/

PRJEB51898_CHINA2024/
PRJEB51898_CHINA2024_results/

PRJNA876771_USA2023/
PRJNA876771_USA2023_results/

PRJEB38528_SE/
PRJEB38528_SE_results/

PRJNA771720_CHINA2022_results/
PRJNA797778_UMD-HMP_results/
PRJNA797778_UMD-HMP/

PRJNA352475_ITALY2018_PE_results/

data/


PRJNA288562_USA2018_results/


PRJNA718445_CANADA2021_results/

PRJEB34536_IRELAND2020_results/

*.txt
*.html
*.nextflow*
PRJNA451212_USA2021_results/
.nextflow.pid
PRJEB37731_MiMens_SE_trace.txt
PRJNA826539_FIJI_report.html
PRJNA826539_FIJI_trace.txt
StaGnextflow_init.sh
PRJNA669294_USA2021_results/*
testdata_SE_results/host_removal/*.sam
