# Ignore Nextflow directory and files
.nextflow/

# Ignore work directory
work/

# Ignore log files
.nextflow.log*


MiniSta*

mpa_vOct22_CHOCOPhlAnSGB_202212

testdata_PE_results/preprocessing_read_counts.txt
testdata_PE_results/fastp/ERR10897565_1.fq.gz
testdata_PE_results/fastp/ERR10897565_2.fq.gz
testdata_PE_results/fastp/ERR10897567_1.fq.gz
testdata_PE_results/fastp/ERR10897567_2.fq.gz
testdata_PE_results/host_removal/ERR10897565_1.fq.gz
testdata_PE_results/host_removal/ERR10897565_2.fq.gz
testdata_PE_results/host_removal/ERR10897565_unmapped.sorted.bam
testdata_PE_results/host_removal/ERR10897565.bam
testdata_PE_results/host_removal/ERR10897565.sam
testdata_PE_results/host_removal/ERR10897567_1.fq.gz
testdata_PE_results/host_removal/ERR10897567_2.fq.gz
testdata_PE_results/host_removal/ERR10897567_unmapped.sorted.bam
testdata_PE_results/host_removal/ERR10897567.bam
testdata_PE_results/host_removal/ERR10897567.sam
testdata_PE_results/logs/preprocessing_summary.log
testdata_PE_results/logs/bowtie2/ERR10897565.bowtie2.log
testdata_PE_results/logs/bowtie2/ERR10897567.bowtie2.log
testdata_PE_results/logs/fastp/ERR10897565.fastp.json
testdata_PE_results/logs/fastp/ERR10897567.fastp.json
testdata_PE_results/logs/host_removal/ERR10897565.extract_unmapped.log
testdata_PE_results/logs/host_removal/ERR10897565.sam2bam.stderr
testdata_PE_results/logs/host_removal/ERR10897565.sort.stderr
testdata_PE_results/logs/host_removal/ERR10897565.unmapped.stderr
testdata_PE_results/logs/host_removal/ERR10897567.extract_unmapped.log
testdata_PE_results/logs/host_removal/ERR10897567.sam2bam.stderr
testdata_PE_results/logs/host_removal/ERR10897567.sort.stderr
testdata_PE_results/logs/host_removal/ERR10897567.unmapped.stderr
testdata_PE_results/logs/metaphlan/all_sample_metaphlan_krona_plot.log
testdata_PE_results/logs/metaphlan/combine_metaphlan_tables.log
testdata_PE_results/logs/metaphlan/combined_metaphlan_krona_plot.log
testdata_PE_results/logs/metaphlan/ERR10897565.metaphlan_krona.log
testdata_PE_results/logs/metaphlan/ERR10897565.metaphlan.stderr.log
testdata_PE_results/logs/metaphlan/ERR10897565.metaphlan.stdout.log
testdata_PE_results/logs/metaphlan/ERR10897567.metaphlan_krona.log
testdata_PE_results/logs/metaphlan/ERR10897567.metaphlan.stderr.log
testdata_PE_results/logs/metaphlan/ERR10897567.metaphlan.stdout.log
testdata_PE_results/logs/multiqc/multiqc.log
testdata_PE_results/metaphlan/all_samples_metaphlan_krona.html
testdata_PE_results/metaphlan/all_samples.metaphlan.txt
testdata_PE_results/metaphlan/combined_metaphlan_krona.html
testdata_PE_results/metaphlan/ERR10897565.bowtie2.bz2
testdata_PE_results/metaphlan/ERR10897565.krona
testdata_PE_results/metaphlan/ERR10897565.metaphlan.txt
testdata_PE_results/metaphlan/ERR10897565.sam.bz2
testdata_PE_results/metaphlan/ERR10897567.bowtie2.bz2
testdata_PE_results/metaphlan/ERR10897567.krona
testdata_PE_results/metaphlan/ERR10897567.metaphlan.txt
testdata_PE_results/metaphlan/ERR10897567.sam.bz2
testdata_PE_results/metaphlan/levels/family.tsv
testdata_PE_results/metaphlan/levels/genus.tsv
testdata_PE_results/metaphlan/levels/order.tsv
testdata_PE_results/metaphlan/levels/species.tsv
testdata_PE_results/multiqc/multiqc_report.html
testdata_PE_results/multiqc/multiqc.log
testdata_PE_results/multiqc/multiqc_report_data/multiqc_bowtie2.txt
testdata_PE_results/multiqc/multiqc_report_data/multiqc_citations.txt
testdata_PE_results/multiqc/multiqc_report_data/multiqc_data.json
testdata_PE_results/multiqc/multiqc_report_data/multiqc_fastp.txt
testdata_PE_results/multiqc/multiqc_report_data/multiqc_general_stats.txt
testdata_PE_results/multiqc/multiqc_report_data/multiqc_metaphlan.txt
testdata_PE_results/multiqc/multiqc_report_data/multiqc_software_versions.txt
testdata_PE_results/multiqc/multiqc_report_data/multiqc_sources.txt
testdata_PE_results/multiqc/multiqc_report_data/multiqc.log
testdata_SE_results/preprocessing_read_counts.txt
testdata_SE_results/fastp/ERR4031201.trimmed.fq.gz
testdata_SE_results/fastp/ERR4031202.trimmed.fq.gz
testdata_SE_results/fastp/ERR4031203.trimmed.fq.gz
testdata_SE_results/host_removal/ERR4031201_unmapped.sorted.bam
testdata_SE_results/host_removal/ERR4031201.bam
testdata_SE_results/host_removal/ERR4031201.fq.gz
testdata_SE_results/host_removal/ERR4031201.sam
testdata_SE_results/host_removal/ERR4031202_unmapped.sorted.bam
testdata_SE_results/host_removal/ERR4031202.bam
testdata_SE_results/host_removal/ERR4031202.fq.gz
testdata_SE_results/host_removal/ERR4031202.sam
testdata_SE_results/host_removal/ERR4031203_unmapped.sorted.bam
testdata_SE_results/host_removal/ERR4031203.bam
testdata_SE_results/host_removal/ERR4031203.fq.gz
testdata_SE_results/host_removal/ERR4031203.sam
testdata_SE_results/logs/preprocessing_summary.log
testdata_SE_results/logs/bowtie2/ERR4031201.bowtie2.log
testdata_SE_results/logs/bowtie2/ERR4031202.bowtie2.log
testdata_SE_results/logs/bowtie2/ERR4031203.bowtie2.log
testdata_SE_results/logs/fastp/ERR4031201.fastp.json
testdata_SE_results/logs/fastp/ERR4031202.fastp.json
testdata_SE_results/logs/fastp/ERR4031203.fastp.json
testdata_SE_results/logs/host_removal/ERR4031201.extract_unmapped.log
testdata_SE_results/logs/host_removal/ERR4031201.sam2bam.stderr
testdata_SE_results/logs/host_removal/ERR4031201.sort.stderr
testdata_SE_results/logs/host_removal/ERR4031201.unmapped.stderr
testdata_SE_results/logs/host_removal/ERR4031202.extract_unmapped.log
testdata_SE_results/logs/host_removal/ERR4031202.sam2bam.stderr
testdata_SE_results/logs/host_removal/ERR4031202.sort.stderr
testdata_SE_results/logs/host_removal/ERR4031202.unmapped.stderr
testdata_SE_results/logs/host_removal/ERR4031203.extract_unmapped.log
testdata_SE_results/logs/host_removal/ERR4031203.sam2bam.stderr
testdata_SE_results/logs/host_removal/ERR4031203.sort.stderr
testdata_SE_results/logs/host_removal/ERR4031203.unmapped.stderr
