profiles {
    uppmax {
        params {
            // project = 'naiss2024-22-519'
            project = 'naiss2023-22-889'
            email = 'faruk.dube@scilifelab.se'
            mailType = 'FAIL'
            // pull_docker_container = true
        }

        process {
            executor = 'slurm'
            clusterOptions = "-A '${params.project}' --mail-type '${params.mailType}' --mail-user '${params.email}'"
            memory = { 20.GB * task.attempt }
            cpus = { 4 * task.attempt }
            time = { 2.h * task.attempt }
            scratch = '$SNIC_TMP'
            errorStrategy = { task.exitStatus in [143, 137, 104, 134, 139, 140] ? 'retry' : task.exitStatus == 255 ? 'ignore' : 'finish' }
            maxRetries = 3
            maxErrors = '-1'

            // Reduced resource allocation for specific processes
            withName: 'PREPROCESSING_SUMMARY|COMBINE_METAPHLAN_TABLES|SPLIT_METAPHLAN_LEVELS' {
                memory = { 4.GB * task.attempt }
                cpus = { 1 * task.attempt }
                time = { 30.min * task.attempt }
            }
        }

        conda {
            enabled = true
            // autoMounts = true
        }
    }
}